asgiref==3.2.7
auth==0.5.3
blinker==1.4
boto3==1.12.42
botocore==1.15.42
dj-database-url==0.5.0
Django==1.11.29
django-forms-bootstrap==3.1.0
django-storages==1.9.1
dnspython==1.16.0
docutils==0.15.2
eventlet==0.25.2
falcon==2.0.0
greenlet==0.4.15
gunicorn==20.0.4
heroku==0.1.4
jmespath==0.9.5
mongoengine==0.19.1
monotonic==1.5
Pillow==7.1.1
psycopg2==2.8.5
pymongo==3.10.1
python-dateutil==1.5
pytz==2019.3
s3transfer==0.3.3
sqlparse==0.3.1
stripe==2.45.0
Werkzeug==1.0.1
