{% extends "base.html" %}

{% block title %}About Us{% endblock %}
{% block content %}
<br><br><br>
<section>
<br>
<h3>Who are we?</h3>

<p>Alvention Ltd. is a small innovative Irish company based in Tralee, Co. Kerry. Our primary goal is to make life easier for everyone, by creating unique products that are easy to use and protect your property.  Rodfendr our flagship product is a prime example of this. Simple, light weight and strong using the latest in 3D printing technology to produce a product with exceptional build quality which is designed for it's purpose, to protect your fishing rod.  It also makes it easier to get to hard to reach places as is can remain attached to your fishing rod and therefore there is no need for a tripod.  We will continue to design innocative products and your support will help us to do so.</p>

<h3>What is Rodfendr?</h3>

<p> Rodfendr the lightest rod rest in the world. It gives you complete freedom to move from place to place and rest your fishing rod on any object available. With Rodfendr, you won't need to carry a bulky tripod around - an added benefit when fishing in areas that are hard to access!</p>

<p> Rodfendr protects your fishing line from abrasion. We have all suffered from breakoff, often at the worst possible moment. With Rodfendr, you'll give yourself the best chance to land that fish! Rodfendr also protects your fishing rod from getting damaged from resting or scraping across piers, rocks , boats, railings or wires.</p>
<div class="row row-flex">
<img class="col" src="https://alans-ecommerce.s3-eu-west-1.amazonaws.com/media/images/hero.png" width="300" height="200" alt="">
</div>
<p> Movement while fishing is very important: fish don’t always feed in the same spot. Because Rodfendr is attached directly to your fishing rod, it allows you complete mobility. You can fish wherever you want to: Rodfendr won’t increase the footprint of your fishing rod, so areas where space is limited are still accessible. Rodfendr will help you to relax and enjoy your time fishing even more!</p>

<p> Rodfendr is especially great when fishing with your children. It’s not complicated to set up; once it’s installed it can remain on your fishing rod and your child can rest their rod on whatever is in front of them. Rodfendr allows parent and child to relax and bond over the finer points of fishing, different knots, bait selection, or any other interests in your lives!</p>
<div class="row row-flex">
<img class="col" src="https://alans-ecommerce.s3-eu-west-1.amazonaws.com/media/images/2a18c5e8-07b9-4d19-9aa7-58351a9932c6_1.JPG" width="300" height="200" alt="">
</div>
<p> "Before I came up with the idea of Rodfendr, I used to try to balance my fishing rod at my local pier and I had to constantly watch the rod in case a fish or weed moved it. I didn’t want the fishing line or the fishing rod to become damaged from the abrasive surfaces it was resting on. From time to time I used other rod rests but they were bulky and time consuming to set up, and cumbersome to move around. Then I found the solution - Rodfendr!"
- Alan O'Shea, Creator of Rodfendr</p>
</section>
<br>

{% endblock %}